body {
  margin: 0;
}

li {
  background-color: ;
}
h1 {
  margin: 0;
  font-size: 20px;
  display: flex; /* ★ */
  align-items: center; /* ★ */
  justify-content: center;
  background-color: rgb(206, 221, 237);
  height: 200px;
  width: auto;
}
h3 {
  text-align: center;
}

nav > ul {
  background-color: rgb(230, 230, 230);
  list-style: none; /* 移除項目符號 */
  margin: 0px;
  padding: 10px;
}
/* 滑鼠移到 `<a>` 時變成深底淺色 */
nav a:hover {
  background-color: rgb(115, 115, 115);
  color: white;
}

/* ================================= 
 Flex box
==================================== */

.flex-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  align-self: flex-start;
}
.item-0 {
  align-self: flex-end;
}
.items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: .5;
}

.contentbox {
  display: flex;
  margin: 0px;
  flex-direction: column;
  justify-content: center;
  border: 0;
}

.box1 {
  text-align: center;
  background-color: grey;
  height: 150px;
  margin: 10px;
}

.main-footer {
  display: flex;
  justify-content: center;
}

.calltoAction {
  text-align: center;
  background-color: rgb(206, 221, 237);
  align-items: center;
  width: 140px;
  height: 25px;
}

.main-header {
  padding: 1em 0; /*改善垂直邊界折疊Vertical Margins Collapse */
}
/*漢堡選單*/

/* ================================= 
  Media Queries
==================================== */

@media (max-width: 500px) {
  .items {
    display: none;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .items {
    display: none;
  }
  .contentbox {
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;
    /*換行啊*/
  }
  .box-1 {
    order: 1;
  }
  .box-2 {
    order: 3;
  }
  .box-3 {
    order: 2;
  }

  .box-4 {
    order: 4;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  /*STYLES*/
  label {
    display: none;
  }
  .contentbox {
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
   /*換行啊*/
  }
  .box-1 {
    order: 1;
  }
  .box-2 {
    order: 3;
  }
  .box-3 {
    order: 2;
  }

  .box-4 {
    order: 4;
  }
}

@media  (min-width: 1200px) {
  /*STYLES*/
  label {
    display: none;
  }
  .contentbox {
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
   /*換行啊*/
  }
  .box-1 {
    order: 1;
  }
  .box-2 {
    order: 3;
  }
  .box-3 {
    order: 2;
  }

  .box-4 {
    order: 4;
  }
}



}
