#header {
  display: inline;
}
.topnav {
  width: 700px;
  height: 90px;
  margin: 0 auto;
  background: silver;
}

.logo {
  width: 50px;
  border: 50px;
  border-radius: 2em;
}

nav {
  float: right;
}
