body {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(206, 221, 237);
  height: 200px;
  width: auto;
}
h3 {
  text-align: center;
}

nav > ul {
  background-color: rgb(230, 230, 230);
  list-style: none; /* 移除項目符號 */
  margin: 0px;
  padding: 10px;
}
/* 滑鼠移到 `<a>` 時變成深底淺色 */
nav a:hover {
  background-color: rgb(115, 115, 115);
  color: white;
}

.flex-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  align-self: flex-start;
}
.item-0 {
  align-self: flex-end;
}
.items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 0.5;
}

.contentbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 1200px;
  margin: 0 auto;
}

.box1 {
  text-align: center;
  background-color: grey;
  height: 100px;
  width: 300px;
  margin: 10px;
}

.main-footer {
  display: flex;
  justify-content: center;
}

.calltoAction {
  text-align: center;
  background-color: rgb(206, 221, 237);
  align-items: center;
  width: 140px;
  height: 25px;
}

/* ================================= 
  Media Queries  再考慮一下排序方式
==================================== */

@media (max-width: 500px) {
  .items {
    display: none;
  }
  .contentbox {
    flex-direction: column;
  }
  .box1 {
    max-width: 300px;
    width: 90%;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .items {
    display: none;
  }
  .contentbox {
    flex-wrap: wrap;
  }
  .box1 {
    width: 45%;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  label {
    display: none;
  }
  .contentbox {
    flex-wrap: wrap;
  }
  .box1 {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  label {
    display: none;
  }
  .contentbox {
    flex-wrap: wrap;
  }
  .box1 {
    width: 45%;
  }
}
